.container-any-questions {
  .row {
    h2 {
      max-width: 700px;
      margin: 86px auto 72px;
      font-size: 28px;
      font-family: 'Open Sans',serif;
      font-weight: 300;
      color: $black;
      text-align: center;
      line-height: 1.55;
    }
  }
}