footer {
  min-height: 130px;
  background-color: $bg-footer;
  color: $white;
}
.nav-footer {
  padding-left: 20px;
    li {
      float: left;
      padding: 18px;
      list-style: none;
      @include large-desktop {
        padding-top: 0;
        padding-left: 14px;
        padding-right: 14px;
      }
        a {
          font-family: 'Roboto',sans-serif;
          font-weight: 600;
          color: $white;
        }
    }
}
.col-lg-4, .col-lg-2 {
  padding-top: 20px;
}
.col-copyright {
  text-align: left;
  @include large-desktop {
    text-align: center;
  }
}
.col-footer-nav {
  text-align: center;
    ul {
      display: inline-block;
      margin-top: -18px;
      @include large-desktop {
        margin-top: 0;
      }
    }
}
.col-link-to-top {
  text-align: right;
}
.agreement {
  color: $white;
  &:hover {
    color: $white;
  }
}
.link-to-top {
  color: $white;
  &:hover {
    color: $white;
  }
}