.container-border {
  border-bottom: 1px solid rgba($black, .2);
  padding-bottom: 70px;
}
.form-horizontal {
  .form-group {
    .control-label {
      font-size: 20px;
      font-family: 'Arial';
      line-height: 1.55;
      font-weight: 400;
    }
    .col-lg-6 {
      select {
        margin-top: 5px;
      }
    }
  }
  .btn-select-submit {
    margin-top: 30px;
    padding: 19px 74px;
    color: $white;
    background-color: $btn-select-submit;
    font-size: 22px;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    border-radius: 0;
    &:hover {
      color: $white;
      background-color: $btn-select-submit-hover;
    }
  }
}