.instruction-img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.instruction-img-one {
  background: url('../img/1.png') no-repeat;
}
.instruction-img-two {
  background: url('../img/2.png') no-repeat;
}
.instruction-img-three {
  background: url('../img/3.png') no-repeat;
}