

$black: #000;
$white: #fff;
$link-active: #4c80e0;
$active-link-border: #1d1c1c;
$letter-o: #F09434;
$letter-k: #469D0A;
$doc: #4ca8de;
$single-quote: #CF2438;
$bg-trigger-button: #0A8FC4;
$blue-light: #3FB0CC;
$input-border: #a5a5a3;
$btn-sign-in: #1c8fbd;
$btn-jumbotron-buy: #cfa240;
$btn-jumbotron-buy-hover: #e3852d;
$input-phone-second: #186cba;
$btn-sign-in-second: #eda342;
$btn-sign-in-second-hover: #cc8c38;
$btn-select-submit: #5a9fe0;
$btn-select-submit-hover: #528cc3;
$how-link: #ff8562;
$bg-footer: #111;