.why-img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.why-img-clock {
  background: url('../img/clock.png') no-repeat;
}
.why-img-sofa {
  background: url('../img/sofa.png') no-repeat;
}
.why-img-graph {
  background: url('../img/graph.png') no-repeat;
}
.why-img-coin {
  background: url('../img/coin.png') no-repeat;
}