h2 {
  margin-top: 37px;
  margin-bottom: 84px;
  @include phone-lg {
    margin-bottom: 20px;
  }
}
.why-img {
  width: 100px;
  height: 100px;
  margin: 0 auto 0;
}
.why-img-clock {
  background: url('../img/clock.png') no-repeat;
}
.why-img-sofa {
  background: url('../img/sofa.png') no-repeat;
}
.why-img-graph {
  background: url('../img/graph.png') no-repeat;
}
.why-img-coin {
  background: url('../img/coin.png') no-repeat;
}
.thumbnail {
  border: none;
    .caption {
      h3 {
        margin-top: 20px;
        margin-bottom: 40px;
        font-size: 24px;
        font-weight: 600;
      }
      p {
        font-size: 16px;
      }
    }
}